<p>
    A contact has sent you an email from the contact form. Find bellow details:
</p>
<ul>
    <li><strong>From</strong> : {{ contact.email }}</li>
    <li><strong>Full name</strong> : {{ contact.name }}</li>
    <li><strong>Subject</strong> : {{ contact.subject }}</li>
    <li><strong>Message</strong> : {{ contact.message }}</li>
</ul>